* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", "Oxygen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
}

body {
  height: 100vh;
}
